
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Dave">Dave</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Prady">Prady</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Saroj">Saroj</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Gang">Gangadhar</a></li>
        </ul>
        <div class="tab-content">
            <div id="Dave" class="tab-pane active">
                <main>

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Main section goes here -->
                            <article>
                                <h2>A little info about me</h2>
                                <!-- Article content goes here -->
                                <section id="current-section">
                                    <!-- Section 1 content goes here -->
                                    <h2 class="section-header">Where I'm now</h2>
                                    <p>
                                        Hello everyone, I am currently a Junior working on my computer science degree.
                                        I have some experience with programming from high school but barely any
                                        experience with web-side applications and front-end design. I am currently
                                        interested in reverse engineering and exploitation.
                                    </p>
                                </section>
                                <section id="past-section">
                                    <!--Section 2 content goes here -->
                                    <h2 class="section-header">Where I was</h2>
                                    <p>
                                        My hometown is in Urumqi, China. I have a lot of experience working with
                                        software development and computationally interesting problems. Since I have
                                        just attended DefCon this summer, my main interests this year is in breaking
                                        things apart and understanding them.
                                    </p>
                                </section>
                                <section id="future-section">
                                    <!-- Section 3 content goes here -->
                                    <h2 class="section-header">Where I will be</h2>
                                    <p>
                                        I'm not too sure about my plans for the future. Some of the ideas I have for
                                        the future are creating a "as-a-service" software and monetizing it;
                                        penetration testing consulting; and teaching software engineering.
                                    </p>
                                </section>
                            </article>
                            <aside>
                                <div class="card">
                                    <img class="card-img-top" src="images/apple-icon-180x180.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="detailsBlock">
                                            <header  class="section-header">Connect Via</header>
                                            <p><i class="fa fa-phone mr10" aria-hidden="true"></i><strong>Phone</strong> : <a  href="tel:+1(999)-888-7777">+1 (999) 888 7777</a></p>
                                            <p><i class="fa fa-envelope-o mr10" aria-hidden="true"></i><strong>Email</strong> : <a  href="mailto:customerCare@eyp.com">customerCare@eyp.com</a></p>
                                            <p><i class="fa fa-github mr10" aria-hidden="true"></i><a href="https://github.com/ForeverAnApple/EmptyYourPockets" target="_blank">Github</a></p>
                                            <p><i class="fa fa-bitbucket mr10" aria-hidden="true"></i><a href="https://github.com/ForeverAnApple/EmptyYourPockets" target="_blank">Bit Bucket</a></p>
                                            <p><i class="fa fa-linkedin mr10" aria-hidden="true"></i><a href="#" target="_blank">LinkedIn</a></p>
                                            <p><i class="fa fa-facebook mr10" aria-hidden="true"></i><a href="#" target="_blank">FB</a></p>
                                        </div>
                                    </div>
                                  </div>
                            </aside>
                        </div>
                    </div>
                </main>

            </div>
            <div id="Prady" class="tab-pane">
                <main>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Main section goes here -->
                            <article>
                                <h2>A little info about me</h2>
                                <!-- Article content goes here -->
                                <section id="current-section">
                                    <!-- Section 1 content goes here -->
                                    <h2 class="section-header">As of now</h2>
                                    <p>
                                        I have just joined NW this fall, as a graduate for <strong>Applied Computer
                                            Sciences</strong> course.
                                    </p>
                                </section>
                                <section id="past-section">
                                    <!--Section 2 content goes here -->
                                    <h2 class="section-header">A few months back</h2>
                                    <p>
                                        I am from Hyderabad, a city in India. I have graduated from VIT university as a
                                        Master of Science in Software Engineering, in the year 2015. I have been
                                        working for an MNC "<strong>Infosys Pvt. Ltd.</strong>", as a <strong>UI / UX
                                            Developer and Designer</strong> till date.
                                    </p>
                                </section>
                                <section id="future-section">
                                    <!-- Section 3 content goes here -->
                                    <h2 class="section-header">A couple of years later</h2>
                                    <p>
                                        I hope to become a full stack developer one day. In order to get there, I need
                                        some extra skills. I hope enrolling into this course would give me enough
                                        exposure and help me out achieving my goal.
                                    </p>
                                </section>
                            </article>
                            <aside>
                                <div class="card">
                                    <img class="card-img-top" src="images/apple-icon-180x180.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="detailsBlock">
                                            <header  class="section-header">Connect Via</header>
                                            <p><i class="fa fa-phone mr10" aria-hidden="true"></i><strong>Phone</strong> : <a  href="tel:+1(999)-888-7777">+1 (999) 888 7777</a></p>
                                            <p><i class="fa fa-envelope-o mr10" aria-hidden="true"></i><strong>Email</strong> : <a  href="mailto:customerCare@eyp.com">customerCare@eyp.com</a></p>
                                            <p><i class="fa fa-github mr10" aria-hidden="true"></i><a href="https://github.com/ForeverAnApple/EmptyYourPockets" target="_blank">Github</a></p>
                                            <p><i class="fa fa-bitbucket mr10" aria-hidden="true"></i><a href="https://github.com/ForeverAnApple/EmptyYourPockets" target="_blank">Bit Bucket</a></p>
                                            <p><i class="fa fa-linkedin mr10" aria-hidden="true"></i><a href="#" target="_blank">LinkedIn</a></p>
                                            <p><i class="fa fa-facebook mr10" aria-hidden="true"></i><a href="#" target="_blank">FB</a></p>
                                        </div>
                                    </div>
                                  </div>
                            </aside>
                        </div>
                    </div>
                </main>
            </div>
            <div id="Saroj" class="tab-pane">
                <main>

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Main section goes here -->
                            <article>
                                <h2>A little info about me</h2>
                                <!-- Article content goes here -->
                                <section id="current-section">
                                    <!-- Section 1 content goes here -->
                                    <h2 class="section-header">What I do</h2>
                                    <p>
                                        I am Saroj Paudel from Nepal. I am an undergraduate in Computer Science.
                                    </p>
                                </section>
                                <section id="past-section">
                                    <!--Section 2 content goes here -->
                                    <h2 class="section-header">What's my story</h2>
                                    <p>
                                            I am a junior in Computer Science major. I am from a small village in Nepal. I got my high school degree from Kathmandu (capital city), Nepal.
                                            I don't have exact plans after my graduation. But I have special interest in Dataflow Programming, Internet of Things and Web Development. I don't have any experience in these topic though. 
                                            The interesting fact about me is I wanted to be a Doctor when I was child and I even gave my major emphasis on biology before coming to USA but one day I watched a video about computer science in YouTube which fascinated me a lot that I made one of my biggest decision in my life to change my major to Computer Science.
                                    </p>
                                </section>
                                <section id="future-section">
                                    <!-- Section 3 content goes here -->
                                    <h2 class="section-header">What am I good at</h2>
                                    <p>
                                        <ul>
                                            <li>Java</li> 
                                            <li>Python</li> 
                                            <li>Data Structures</li> 
                                            <li>Algorithms</li>
                                            <li>Javascript</li> 
                                            <li>HTML/ css</li> 
                                        </ul>   
                                    </p>
                                </section>
                            </article>
                            <aside>
                                <div class="card">
                                    <img class="card-img-top" src="images/apple-icon-180x180.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="detailsBlock">
                                            <header  class="section-header">Connect Via</header>
                                            <p><i class="fa fa-phone mr10" aria-hidden="true"></i><strong>Phone</strong> : <a  href="tel:+1(999)-888-7777">+1 (999) 888 7777</a></p>
                                            <p><i class="fa fa-envelope-o mr10" aria-hidden="true"></i><strong>Email</strong> : <a  href="mailto:customerCare@eyp.com">customerCare@eyp.com</a></p>
                                            <p><i class="fa fa-github mr10" aria-hidden="true"></i><a href="https://github.com/ForeverAnApple/EmptyYourPockets" target="_blank">Github</a></p>
                                            <p><i class="fa fa-bitbucket mr10" aria-hidden="true"></i><a href="https://github.com/ForeverAnApple/EmptyYourPockets" target="_blank">Bit Bucket</a></p>
                                            <p><i class="fa fa-linkedin mr10" aria-hidden="true"></i><a href="#" target="_blank">LinkedIn</a></p>
                                            <p><i class="fa fa-facebook mr10" aria-hidden="true"></i><a href="#" target="_blank">FB</a></p>
                                        </div>
                                    </div>
                                  </div>
                            </aside>
                        </div>
                    </div>
                </main>
            </div>
            <div id="Gang" class="tab-pane">
                <main>

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Main section goes here -->
                            <article>
                                <h2>A little info about me</h2>
                                <!-- Article content goes here -->
                                <section id="current-section">
                                    <!-- Section 1 content goes here -->
                                    <h2 class="section-header">Current</h2>
                                    <p>
                                        I am a new member of the Fall 2018 Batch working on my Masters of Applied Computer Science.
                                    </p>
                                </section>
                                <section id="past-section">
                                    <!--Section 2 content goes here -->
                                    <h2 class="section-header">Background</h2>
                                    <p>
                                        I'm from India, worked as a Software Developer for 2 years in enterprise mobile application development company. I have experience in developing enterprise mobile applications by using HTML 5, CSS, JavaScript, knockout-js, server-script and java.
                                    </p>
                                </section>
                                <section id="future-section">
                                    <!-- Section 3 content goes here -->
                                    <h2 class="section-header">Future Plans</h2>
                                    <p>
                                            I wish to become a Software Architect and I'm interested in developing applications  which is an amalgamation of both front-end and back-end development.
                                    </p>
                                </section>
                            </article>
                            <aside>
                                <div class="card">
                                    <img class="card-img-top" src="images/apple-icon-180x180.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="detailsBlock">
                                            <header  class="section-header">Connect Via</header>
                                            <p><i class="fa fa-phone mr10" aria-hidden="true"></i><strong>Phone</strong> : <a  href="tel:+1(999)-888-7777">+1 (999) 888 7777</a></p>
                                            <p><i class="fa fa-envelope-o mr10" aria-hidden="true"></i><strong>Email</strong> : <a  href="mailto:customerCare@eyp.com">customerCare@eyp.com</a></p>
                                            <p><i class="fa fa-github mr10" aria-hidden="true"></i><a href="https://github.com/ForeverAnApple/EmptyYourPockets" target="_blank">Github</a></p>
                                            <p><i class="fa fa-bitbucket mr10" aria-hidden="true"></i><a href="https://github.com/ForeverAnApple/EmptyYourPockets" target="_blank">Bit Bucket</a></p>
                                            <p><i class="fa fa-linkedin mr10" aria-hidden="true"></i><a href="#" target="_blank">LinkedIn</a></p>
                                            <p><i class="fa fa-facebook mr10" aria-hidden="true"></i><a href="#" target="_blank">FB</a></p>
                                        </div>
                                    </div>
                                  </div>
                            </aside>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xs-12">

    </div>
</div>
