<footer>
    <!-- Footer goes here -->
    <p>Copyright &copy; 2018 Empty Your Pockets</p> 
</footer>
<script src="/js/script.js"></script>
<script src="/css/bootstrap-4.1.3/js/bootstrap.js"></script>
</body>
</html>