<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="name">ID</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= order._orderid %>" required>
      </div>
      <div class="form-group">
        <label for="breed">orderDate</label>
        <input type="date" class="form-control" id="breed" name="breed" value="<%= order.orderDate %>">
      </div>
      <div class="form-group">
        <label for="breed">product ID</label>
        <input type="date" class="form-control" id="breed" name="breed" value="<%= order._productid %>">
      </div>
      
      <div class="form-group">
        <label for="age">Total amount</label>
        <input type="number" class="form-control" id="age" name="age" value="<%= order.totalAmount %>" required>
      </div>
    </div>
  </div>
  <hr>
  