<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="orderDate">orderDate</label>
        <input type="text" class="form-control" id="orderDate" name="orderDate" value="<%= order.orderDate %>">
      </div>
      <div class="form-group">
        <label for="_productid">product ID</label>
        <input type="number" class="form-control" id="_productid" name="_productid" value="<%= order._productid %>">
      </div>
      <div class="form-group">
        <label for="_customerid">customer ID</label>
        <input type="number" class="form-control" id="_customerid" name="_customerid" value="<%= order._customerid %>">
      </div>
      <div class="form-group">
        <label for="totalAmount">Total amount</label>
        <input type="number" class="form-control" id="totalAmount" name="totalAmount" value="<%= order.totalAmount %>" required>
      </div>
    </div>
  </div>
  <hr>
  